.selectegg {
	text-align: center;
	color: blue;
}

.filter {
	background-color: White;
	text-align: center;
	padding: 20px;
}

.filter a {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: black;
}

.filter a:hover {
	background-color: red;
	color:white;
}
.filter a.active {
	background-color: white;
	color: red;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .image {
	width: 200px;
	height: auto;
  }

.ui card noCharacter:before {
    content:     "";
    display:     block;
    padding-top: 100%;
}

.filter-button.active {
	background-color: red;
	color: white;
  }
  
  .filter-button {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: black;
	cursor: pointer;
  }
  
  .filter-button:hover {
	background-color: red;
	color: white;
  }